{% set openingHourJoinString = "&" %}

<ul>
    {% set dayOfWeek = -1 %}
    {% for openingHour in openingHours %}
        {% set openingHourTimeString = openingHour.closed ? "Fermé" : openingHour.start | time_short ~ "-" ~ openingHour.end | time_short %}
        {% if openingHour.dayOfWeek != dayOfWeek %}
            {# close previous day #}
            {% if loop.index > 0 %}</li>{% endif %}
            {# open new day #}
            <li>{{ openingHour.dayOfWeekString | capitalize }} :
            {{ openingHourTimeString }}
        {% else %}
            {# continue existing day #}
            {{ openingHourJoinString | raw }} {{ openingHourTimeString }}
        {% endif %}
        {% set dayOfWeek = openingHour.dayOfWeek %}
    {% endfor %}
    </li>
</ul>
