{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}">Admin</a><i class="material-icons">chevron_right</i>
    Import CSV
{% endblock %}


{% block content %}
    <pre>
        {{ content }}
    </pre>
{% endblock %}