{% extends 'layout.html.twig' %}

{% block title %}Importer des adhérents (CSV) : réponse - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
    <i class="material-icons">file_upload</i>&nbsp;Importer des adhérents (CSV) : réponse
{% endblock %}

{% block content %}
    <pre>
        {{ content }}
    </pre>
{% endblock %}
