/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h3.header, h4, h4.header {
  font-family: 'black_jackregular';
  text-transform: none;
  font-weight: normal;
}

html {
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
