{% extends 'layout.html.twig' %}

{% block content %}
    <h4 class="">éditer job</h4>

    {% include "/admin/job/_form.html.twig" with { form: form  } %}

    {% if is_granted("ROLE_SUPER_ADMIN") %}
        {{ form_start(delete_form) }}
        <button type="submit" class="btn-large waves-effect waves-light red"><i class="material-icons left">delete</i>Supprimer
        </button>
        {{ form_end(delete_form) }}
    {% endif %}

{% endblock %}