{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {% include "user/_partial/user_form.html.twig" with { form: form } %}
    <div>
        <button type="submit" class="btn-large waves-effect waves-light btn">{{ 'profile.edit.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
