{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Editer mon compte - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path("fos_user_profile_show") }}"><i class="material-icons">settings</i>&nbsp;Gérer mon compte</a><i class="material-icons">chevron_right</i>
<i class="material-icons">edit</i>&nbsp;Editer
{% endblock %}

{% block fos_user_content %}
{% include "Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
