# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

/bin
/web/bundles
/web/css
/web/fonts
/web/images
/web/js
/web/config.php
/web/uploads
/web/media
/vendor

# PHPUnit
/app/phpunit.xml
/phpunit.xml
.phpunit.result.cache

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

/.idea
/*.iml
LICENSE
docker-compose.yml
/.docker/keycloak/data

.!
.buildpath
.gitignore.swp
.project
.env
.settings/

/mysql

#script to download and import last prod DB to develop in local env
/updateLocalDbFromProd.sh

**/*~

.direnv
.devenv
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
