# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

/bin
/web/bundles
/web/css
/web/fonts
/web/images
/web/js
/web/config.php
/web/uploads
/web/media
/vendor

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

/.idea
/*.iml
LICENSE

.!
.buildpath
.gitignore.swp
.project
.env
.settings/

/mysql

#script to download and import last prod DB to develop in local env
/updateLocalDbFromProd.sh

**/*~
