parameters:
    level: 2
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    tmpDir: var/phpstan
    parallel:
        maximumNumberOfProcesses: 1
        processTimeout: 1200.0