{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Gérer mon compte - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<i class="material-icons">people</i>&nbsp;Gérer mon compte
{% endblock %}

{% block fos_user_content %}
{% include "Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
