Bonjour {{ user.firstname | lower | capitalize }},<br >
<br >
Ton nouveau cycle commence aujourd'hui.<br >
Pense à aller sur <a href="{{ home_url }}">ton espace membre</a> pour réserver tes heures restantes de bénévolat.<br >
<br >
Merci<br >
<br >
Céleste, la petite fée des créneaux :)