Bonjour {{ firstname }}, et merci pour ta ré-adhésion.<br>
Malheureusement ton email {{ email }} nous est inconnu ! <br>
Impossible donc de faire le lien avec ton compte à {{ project_name }}. <br><br>
Merci de nous aider à te retrouver parmis les membres en visitant <a href="{{ url }}">ce lien</a>.