Bonjour,<br>
Bienvenue à l'éléfàn, l'association pour la création d'un supermarché coopératif et participatif à Grenoble !<br>
Tu peux finaliser ton inscription en visitant <a href="{{ register_url }}">ce lien</a>.<br>
Merci, à très bientôt