Bonjour,<br>
Bienvenue à {{ project_name }}<br>
Tu peux finaliser ton inscription en visitant <a href="{{ register_url }}">ce lien</a>.<br>
{{ dynamicContent | markdown | raw }}

Merci, à très bientôt
