Bonjour {{ beneficiary.firstname | lower | capitalize }},<br />
<br />
le créneau {{ shift.job.name }} du {{ shift.displayDateLongWithTime }}
que tu avais réservé à été libéré.<br />
<br />
Rendez-vous sur <a href="{{ absolute_url(path("homepage")) }}">ton espace membre</a> pour en réserver un nouveau.<br />
<br />
Belle journée à toi.<br />
Céleste, la petite fée des créneaux :)
