Bonjour {{ user.firstname }},<br>
Bienvenue à l'éléfàn, l'association pour la création d'un supermarché coopératif et participatif à Grenoble !<br>
Notre épicerie ouvre le mercredi et le jeudi de 12h à 20h, le vendredi de 9h à 20h et le samedi de 9h à 19h. Elle n'attend plus que toi !<br>
Pour faire tes achats, pense à prendre ta carte d'adhérent.<br>
<br>
Il est maintenant temps de prendre part à cette aventure et de venir faire ton premier créneau de trois heures à l'épicerie.
<br>
L'inscription se fait en ligne via <a href="{{ absolute_url(path("homepage")) }}">ton espace membre</a>
<br>
<br>
Aussi, afin de venir faire tes premiers pas à l'éléfàn, nous t'attendons pour une réunion d'intégration, au programme :<br>
<ul>
    <li>Les dernières actualités</li>
    <li>La présentation des 6 commissions</li>
    <li>Un temps d'échange pour répondre à vos questions</li>
</ul>
<br>
Les réunions ont lieu tous les 26 du mois pour l'année 2018. La réunion commence à 19h.<br>
Rendez-vous au 13, chemin de la capuche à Grenoble, Tram C - Foch Ferrié ou Gustave Rivet.<br>
<br>
A bientôt donc et encore bienvenue dans la famille !