Bonjour {{ beneficiary.firstname }},<br>
Bienvenue à l'éléfàn, l'association pour la création d'un supermarché coopératif et participatif à Grenoble !<br>
Notre épicerie ouvre le lundi et mardi de 17h à 20h, le mercredi et le jeudi de 12h à 20h, le vendredi de 8h à 20h et le samedi de 8h à 14h. Elle n'attend plus que toi !<br>
Pour faire tes achats, pense à prendre ta carte d'adhérent.<br>
<br>
Il est maintenant temps de prendre part à cette aventure et de venir faire ton premier créneau de trois heures à l'épicerie.
<br>
L'inscription se fait en ligne via <a href="{{ absolute_url(path("homepage")) }}">ton espace membre</a>
<br>
Rendez-vous au 13, chemin de la capuche à Grenoble, Tram C - Foch Ferrié ou Gustave Rivet.<br>
<br>
A bientôt donc et encore bienvenue dans la famille !