{% extends 'layout.html.twig' %}

{% block content %}
    <h4 class="">Nouveau poste</h4>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn-large waves-effect waves-light">Créer</button>
    {{ form_end(form) }}
{% endblock %}

