{% set with_badge_card = with_badge_card ?? false %}

<div id="swipecard_{{ card.id }}" {% if with_badge_card %}class="badge_card"{% endif %}>
    <img src="{{ absolute_url(path('swipe_br', {"code": card.code | vigenere_encode | url_encode})) }}" alt="barcode">
</div>
