{% extends 'layoutlight.html.twig' %}

{% block breadcrumps %}
{% endblock %}

{% block content %}
</div> <!-- end div.section -->
</div> <!-- end div.container -->
<iframe src="http://metabase.lelefan.org/public/dashboard/5452c186-ca68-41e3-a8e8-a9f208a76475#refresh=60&titled=false&bordered=false"
            frameborder="0" onload="this.width=screen.width;this.height=screen.height;" allowtransparency></iframe>
<div class="container">
    <div class="section">
{% endblock %}

{% block javascripts %}
    <script>
        jQuery(function () {
            $(".collapsible .modal-trigger").on('click', function (e) {
                e.preventDefault();
            });
        })
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        var barcode_submit_url = "{{ path('check') }}";
        {% endif %}
    </script>
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <script src="{{ asset('bundles/app/js/barcode.js') }}"></script>
    {% endif %}
{% endblock %}