{% extends 'layout.html.twig' %}

{% block beforecontainer %}
<div style="width:100%;" class="parallax-container">
    <div class="parallax">
        {% image '@AppBundle/Resources/public/img/christine-donaldson-214622_2.jpg' %}
        <img src="{{ asset_url }}" alt="bandeau" />
        {% endimage %}
    </div>
</div>
{% endblock %}
{% block aftercontainer %}
    <div style="width:100%;" class="parallax-container">
        <div class="parallax">
            {% image '@AppBundle/Resources/public/img/jakob-owens-262566_2.jpg' %}
            <img src="{{ asset_url }}" alt="bandeau" />
            {% endimage %}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Mon compte à l'éléfàn</h1>
            <div class="row center">
                <h5 class="header col s12 light">Bienvenue sur votre espace de gestion utilisateur</h5>
            </div>
            <div class="row center">
                <a href="{{ path('fos_user_registration_register') }}" id="download-button" class="btn-large waves-effect waves-light orange">Créer mon compte</a>
            </div>
            <div class="row center">
                <p class=" col s12 light">Déjà un compte ? <a href="{{ path('fos_user_security_login') }}">identifiez-vous</a></p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>
{% endblock %}
