{% if is_granted("view",codes | first) or is_granted("generate",codes | first) %}
    <div class="homebox">
        <h5><span class="white">Ouverture / Fermeture</span></h5>
        {% if is_granted("view", codes | first) %}
            <a href="#modal-code" data-source="{{ path('code_index') }}" class="modal-trigger waves-effect waves-light btn deep-purple">
                <i class="material-icons left">vpn_key</i>Voir le{% if codes | length > 1 %}s{% endif %} code{% if codes | length > 1 %}s{% endif %}
            </a>
        {% endif %}
    </div>
    <div id="modal-code" class="modal modal-fixed-footer">
    </div>
{% endif %}
