{% extends 'layout.html.twig' %}
{% block content %}
    {% include "default/code/_list.html.twig" with { codes: codes } %}
    {% if not code_generation_enabled and is_granted('edit',codes | first) %}
        <a href="{{ path("code_edit") }}" class="waves-effect waves-light btn teal lighten-2"><i class="material-icons left">add</i>Mettre à jour le code</a>
    {% endif %}
    {% if is_granted('generate',codes | first) %}
        <a href="{{ path("code_generate") }}" class="waves-effect waves-light btn teal lighten-2"><i class="material-icons left">add</i>Déposer un nouveau jeu de clefs</a>
    {% endif %}
{% endblock %}