<div class="modal-content">
    <h4>Liste des codes</h4>
    {% if codes | length == 0 %}
        <div class="section">
            Auncun code en cours... peut-être 0000 ?
        </div>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Equipement</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
            {% for code in codes %}
                <tr>
                    <td>
                        {{ code.codedevice.name }}
                    </td>
                    <td>
                        {{ code.value }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-light btn green white-text">OK</a>
</div>
