{% extends 'layout.html.twig' %}
{% block content %}
    {% include "default/code/_list.html.twig" with { codes: codes } %}
    {% if is_granted('create',code) %}
        <a href="{{ path("code_new") }}" class="waves-effect waves-light btn teal lighten-2"><i class="material-icons left">add</i>Déposer un nouveau jeu de clefs</a>
    {% endif %}
{% endblock %}