imports:
  - { resource: parameters.yml }
  - { resource: security.yml }
  - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
  locale: fr
  registration_period: '15 days ago'
  remainder_warning_delay: '15'
  images_tmp_dir: '%kernel.project_dir%/web/tmp'

framework:
  translator: { fallbacks: ['%locale%'] }
  secret: '%secret%'
  router:
    resource: '%kernel.project_dir%/app/config/routing.yml'
    strict_requirements: ~
  form: ~
  csrf_protection: ~
  validation: { enable_annotations: true }
  templating:
    engines: ['twig']
  default_locale: '%locale%'
  trusted_hosts: ~
  session:
    # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
    handler_id: session.handler.native_file
    name: USERSSID
    cookie_domain: "%router.request_context.host%"
    save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
  fragments: ~
  http_method_override: true
  assets: ~
  php_errors:
    log: true

# Twig Configuration
twig:
  debug: '%kernel.debug%'
  strict_variables: '%kernel.debug%'
  form_themes:
    - "form/fields.html.twig"
  globals:
    site_name: "%site_name%"
    main_color: "%main_color%"
    project_name: "%project_name%"
    project_url: "%project_url%"
    project_url_display: "%project_url_display%"
    helloasso_registration_campaign_url: "%helloasso_registration_campaign_url%"
    due_duration_by_cycle: '%due_duration_by_cycle%'
    cycle_type: '%cycle_type%'
    registration_duration: '%registration_duration%'
    registration_manual_enabled: '%registration_manual_enabled%'
    support_email: '%transactional_mailer_user%'
    images_tmp_dir: '%images_tmp_dir%'
    maximum_nb_of_beneficiaries_in_membership: '%maximum_nb_of_beneficiaries_in_membership%'
    allow_extra_shifts: '%allow_extra_shifts%'
    time_after_which_members_are_late_with_shifts: '%time_after_which_members_are_late_with_shifts%'
    max_time_in_advance_to_book_extra_shifts : '%max_time_in_advance_to_book_extra_shifts%'
    code_generation_enabled: '%code_generation_enabled%'
    local_currency_name: '%local_currency_name%'
    use_fly_and_fixed: '%use_fly_and_fixed%'
    max_event_proxy_per_member: '%max_event_proxy_per_member%'
    use_time_log_saving: '%use_time_log_saving%'
    display_gauge: '%display_gauge%'
    max_nb_of_past_cycles_to_display: '%max_nb_of_past_cycles_to_display%'
    profile_display_task_list: '%profile_display_task_list%'
    profile_display_time_log: '%profile_display_time_log%'
    profile_display_shift_free_log: '%profile_display_shift_free_log%'
    # user
    user_account_not_enabled_material_icon: '%user_account_not_enabled_material_icon%'
    user_account_enabled_material_icon: '%user_account_enabled_material_icon%'
    # member
    member_withdrawn_icon: '%member_withdrawn_icon%'
    member_withdrawn_material_icon: '%member_withdrawn_material_icon%'
    member_withdrawn_background_color: '%member_withdrawn_background_color%'
    member_frozen_icon: '%member_frozen_icon%'
    member_frozen_material_icon: '%member_frozen_material_icon%'
    member_frozen_background_color: '%member_frozen_background_color%'
    member_exempted_icon: '%member_exempted_icon%'
    member_exempted_material_icon: '%member_exempted_material_icon%'
    member_exempted_background_color: '%member_exempted_background_color%'
    member_registration_missing_icon: '%member_registration_missing_icon%'
    member_registration_missing_material_icon: '%member_registration_missing_material_icon%'
    member_registration_missing_background_color: '%member_registration_missing_background_color%'
    # beneficiary
    beneficiary_main_icon: '%beneficiary_main_icon%'
    beneficiary_new_icon: '%beneficiary_new_icon%'
    beneficiary_flying_icon: '%beneficiary_flying_icon%'
    # swipe card
    display_swipe_cards_settings: '%display_swipe_cards_settings%'
    display_freeze_account: '%display_freeze_account%'
    display_freeze_account_false_message: '%display_freeze_account_false_message%'
    display_keys_shop: '%display_keys_shop%'
    display_name_shifters: '%display_name_shifters%'
    use_card_reader_to_validate_shifts: '%use_card_reader_to_validate_shifts%'
    # fly and fixed
    fly_and_fixed_allow_fixed_shift_free: '%fly_and_fixed_allow_fixed_shift_free%'
    # time log saving
    time_log_saving_shift_free_min_time_in_advance_days: '%time_log_saving_shift_free_min_time_in_advance_days%'
    # opening hours
    display_opening_hour_open_closed_header: '%display_opening_hour_open_closed_header%'
    # role names & icons
    role_user_name: Utilisateur
    role_user_material_icon: person
    role_admin_panel_name: Accès à /admin
    role_admin_material_icon: build
    role_user_manager_name: Gestion des utilisateurs
    role_user_manager_material_icon: group
    role_finance_manager_name: Gestion financiaire
    role_finance_manager_material_icon: attach_money
    role_shift_manager_name: Gestion des créneaux
    role_shift_manager_material_icon: date_range
    role_process_manager_name: Gestion des procédures
    role_process_manager_material_icon: assignment
    role_admin_name: Administrateur
    role_admin_material_icon: verified_user
    role_super_admin_name: Super admin
    role_super_admin_material_icon: 
    # services
    beneficiary_service: "@beneficiary_service"
    membership_service: "@membership_service"
    shift_service: "@shift_service"
    period_service: "@period_service"
    time_log_service: "@time_log_service"
    opening_hour_service: "@opening_hour_service"
    opening_hour_kind_service: "@opening_hour_kind_service"

# Doctrine Configuration
doctrine:
  dbal:
    driver: pdo_mysql
    host: '%database_host%'
    port: '%database_port%'
    dbname: '%database_name%'
    user: '%database_user%'
    password: '%database_password%'
    charset: utf8mb4
    default_table_options:
      charset: utf8mb4
      collate: utf8mb4_unicode_ci
      row_format: DYNAMIC
    schema_filter: ~^(?!view_)~
    # if using pdo_sqlite as your database driver:
    #   1. add the path in parameters.yml
    #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
    #   2. Uncomment database_path in parameters.yml.dist
    #   3. Uncomment next line:
    #path: '%database_path%'
  orm:
    auto_generate_proxy_classes: '%kernel.debug%'
    naming_strategy: doctrine.orm.naming_strategy.underscore
    auto_mapping: true
    dql:
      string_functions:
        DATE_FORMAT: DoctrineExtensions\Query\Mysql\DateFormat
        MONTH: DoctrineExtensions\Query\Mysql\Month
        YEAR: DoctrineExtensions\Query\Mysql\Year
        WEEK: DoctrineExtensions\Query\Mysql\Week

doctrine_migrations:
  dir_name: "%kernel.root_dir%/DoctrineMigrations"
  namespace: Application\Migrations
  table_name: migration_versions
  name: Application Migrations
  column_length: 191
  organize_migrations: false # Version >=1.2 Possible values are: "BY_YEAR", "BY_YEAR_AND_MONTH", false

sensio_framework_extra:
  router:
    annotations: false

# Swiftmailer Configuration
swiftmailer:
  transport: '%mailer_transport%'
  host: '%mailer_host%'
  port: '%mailer_port%'
  username: '%mailer_user%'
  password: '%mailer_password%'
  encryption: '%mailer_encryption%'
  spool: { type: memory }
fos_user:
  db_driver: orm # other valid values are 'mongodb' and 'couchdb'
  firewall_name: main
  user_class: AppBundle\Entity\User
  service:
    mailer: mailer_service
  group:
    group_class: AppBundle\Entity\Formation
  from_email:
    address: '%transactional_mailer_user%'
    sender_name: '%transactional_mailer_user_name%'
  registration:
    form:
      type: AppBundle\Form\RegistrationType
    confirmation:
      enabled:    true # change to true for required email confirmation
      template:   'emails/welcome.html.twig'
  profile:
    form:
      type: AppBundle\Form\UserWithBeneficiaryType
assetic:
  filters:
    less:
      node: /usr/local/bin/node
      node_paths: [/usr/local/lib/node_modules]
      apply_to: '\.less$'
    cssrewrite: ~
ornicar_gravatar:
  rating: g
  size: 80
  default: robohash

fos_oauth_server:
  db_driver:            orm   # Drivers available: orm, mongodb, or propel
  client_class:        AppBundle\Entity\Client
  access_token_class:  AppBundle\Entity\AccessToken
  refresh_token_class: AppBundle\Entity\RefreshToken
  auth_code_class:     AppBundle\Entity\AuthCode
  authorize:
    form:
      type:               fos_oauth_server_authorize
      handler:            fos_oauth_server.authorize.form.handler.default
      name:               fos_oauth_server_authorize_form
      validation_groups:
        # Defaults:
        - Authorize
        - Default
  service:
    user_provider: fos_user.user_provider.username
    options:
      supported_scopes: oauth_login

vich_uploader:
  db_driver: orm
  mappings:
    service_logo:
      uri_prefix: /uploads/service/logo
      upload_destination: '%kernel.project_dir%/web/uploads/service/logo'
      inject_on_load: false
      delete_on_update: true
      delete_on_remove: true
      namer: vich_uploader.namer_origname
    event_img:
      uri_prefix: /uploads/event
      upload_destination: '%kernel.project_dir%/web/uploads/event'
      inject_on_load: false
      delete_on_update: true
      delete_on_remove: true
      namer: vich_uploader.namer_origname

liip_imagine:
  resolvers:
    default:
      web_path: ~
  loaders:
    default:
      filesystem:
        data_root: '%kernel.project_dir%/web/'
  filter_sets:
    cache: ~
    default:
      quality: 75
    card:
      quality: 75
      filters:
        thumbnail: { size: [600, 100], position: center, color: '#000000' }
    service_logo:
      quality: 75
      filters:
        # create a thumbnail: set size to 120x90 and use the "outbound" mode
        # to crop the image when the size ratio of the input differs
        #        service_logo  : { size : [120, 120], mode : outbound }
        thumbnail: { size: [120, 120], position: center, color: '#FFFFFF' }
        # create a 2px black border: center the thumbnail on a black background
        # 4px larger to create a 2px border around the final image
#        background : { size : [124, 94], position : center, color : '#000000' }
