# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: database
    database_port: 3306
    database_name: symfony
    database_user: root
    database_password: secret
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    super_admin.username: admin
    super_admin.initial_password: password

    mailer_transport: smtp
    mailer_host: mailcatcher
    mailer_port: 1025
    mailer_user: ~
    mailer_password: ~
    mailer_encryption: null

    # mail user used for transactional
    transactional_mailer_user: 'contact@yourcoop.local'
    transactional_mailer_user_name: 'espace membre'


    # The base domain used for mail addresses
    emails.base_domain: yourcoop.local

    # Several email addresses, to be used as an associative array
    emails.contact:
        from_name: 'Contact Localcoop'
        address: contact@yourcoop.local
    emails.member:
        from_name: 'Membres Localcoop'
        address: membres@yourcoop.local
    emails.shift:
        from_name: 'Créneaux Localcoop'
        address: creneaux@yourcoop.local
    emails.formation:
        from_name: 'Formation Localcoop'
        address: formations@yourcoop.local
    emails.admin:
        from_name: 'Admin Localcoop'
        address: admin@yourcoop.local
    emails.noreply:
        from_name: 'Ne pas répondre'
        address: noreply@yourcoop.local

    # Available emails in some mailing forms
    emails.sendable:
        - "%emails.contact%"
        - "%emails.member%"
        - "%emails.shift%"
        - "%emails.formation%"
        - "%emails.admin%"
        - "%emails.noreply%"

    shift_mailer_user: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    #router https://symfony.com/doc/3.4/console/request_context.html
    router.request_context.host: membres.yourcoop.local
    router.request_context.scheme: https
    router.request_context.base_url:

    # Branding
    site_name: Espace membre @ MyLocalCoop
    project_name: My Local Coop
    project_url: https://yourcoop.local/
    project_url_display: yourcoop.local
    main_color: #51CAE9
    local_currency_name: 'monnaie locale'
    # Whether to enable IP check of the spot
    enable_place_local_ip_address_check: true
    #ip of the spot, comma separated if many
    place_local_ip_address: '127.0.0.1,192.168.0.x'

    wiki_keys_url: ~

    # Registration
    registration_duration: '1 year'
    registration_every_civil_year: false
    registration_manual_enabled: true
    helloasso_registration_campaign_url: https://www.helloasso.com/associations/my-local-coop/adhesions/re-adhesion
    helloasso_campaign_id:
    helloasso_api_key:
    helloasso_api_password:
    helloasso_api_base_url: https://api.helloasso.com/v3/

    # Shifting configuration
    due_duration_by_cycle: 180
    min_shift_duration: 90
    cycle_duration: '28 days'
    cycle_type: 'abcd'
    maximum_nb_of_beneficiaries_in_membership: 2
    new_users_start_as_beginner: true
    allow_extra_shifts: true
    max_time_in_advance_to_book_extra_shifts: '3 days'
    display_gauge: true
    time_after_which_members_are_late_with_shifts: -9
    reserve_new_shift_to_prior_shifter: true
    forbid_shift_overlap_time: 30
    max_time_at_end_of_shift: 0
    forbid_own_shift_book_admin: false
    forbid_own_shift_free_admin: false
    forbid_own_shift_validate_admin: false
    forbid_own_timelog_new_admin: false
    display_name_shifters: false
    max_nb_of_past_cycles_to_display: 3
    use_fly_and_fixed: false
    use_card_reader_to_validate_shifts: false
    use_time_log_saving: false

    # Events
    max_event_proxy_per_member: 1

    # Profile configuration
    profile_display_task_list: true
    profile_display_time_log: true
    profile_display_shift_free_log: true

    # User configuration
    user_account_not_enabled_material_icon: 'phonelink_off'
    user_account_enabled_icon: '☑'
    user_account_enabled_material_icon: 'devices'

    # Member configuration
    member_withdrawn_icon: '∅'
    member_withdrawn_material_icon: 'block'
    member_withdrawn_background_color: rgba(255, 50, 0, 0.2)
    member_frozen_icon: '❄️'
    member_frozen_material_icon: 'ac_unit'
    member_frozen_background_color: rgba(0, 138, 255, 0.1)
    member_exempted_icon: '☂'
    member_exempted_material_icon: 'beach_access'
    member_exempted_background_color: rgb(0, 150, 136, 0.1)
    member_registration_missing_icon: '$'
    member_registration_missing_material_icon: 'attach_money'
    member_registration_missing_background_color: rgb(0, 150, 136, 0.1)

    # Beneficiary configuration
    beneficiary_main_icon: '⚐'
    beneficiary_new_icon: '★'
    beneficiary_flying_icon: '✈'

    # Swipe card configuration
    swipe_card_logging: true
    swipe_card_logging_anonymous: true
    display_swipe_cards_settings: true

    # Fly and fixed
    fly_and_fixed_allow_fixed_shift_free: false

    # Time log saving
    time_log_saving_shift_free_min_time_in_advance_days: null

    logging.mattermost.enabled: false
    logging.mattermost.level: 'critical'
    logging.mattermost.url: 'http://mattermost.yourcoop.local'
    logging.mattermost.channel: ~

    logging.swiftmailer.enabled: false
    logging.swiftmailer.level: 'critical'
    logging.swiftmailer.recipient: ~

    code_generation_enabled: true
    display_freeze_account: true
    display_freeze_account_false_message: "Le gel de compte n'est pas autorisé."
    display_keys_shop: true
    display_opening_hour_open_closed_header: true
