# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false

    # makes classes in src/AppBundle available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    AppBundle\:
        resource: '../../src/AppBundle/*'
        # you can exclude directories or files
        # but if a service is unused, it's removed anyway
        exclude: '../../src/AppBundle/{Entity,Repository,Tests}'

    # controllers are imported separately to make sure they're public
    # and have a tag that allows actions to type-hint services
    AppBundle\Controller\:
        resource: '../../src/AppBundle/Controller'
        public: true
        tags: ['controller.service_arguments']

    app.form.registration:
        class: AppBundle\Form\RegistrationType
        tags:
            - { name: form.type, alias: app_user_registration }
    app.authentication_success_handler:
            class: AppBundle\EventListener\AuthenticationSuccessHandler
            tags:
                - { name: kernel.event_listener, event: security.interactive_login, method: onSecurityInteractiveLogin }
#    app.my_user_repository:
#        class: Doctrine\ORM\EntityRepository
#        factory: ["@doctrine.orm.entity_manager", getRepository]
#        arguments:
#          - AppBundle\Entity\User
#    app.grant_type.user.my_user_repository:
#        class: AppBundle\EventListener\OAuthEventListener
#        arguments:
#            - "@app.my_user_repository"
    oauth_event_listener:
            class:  AppBundle\EventListener\OAuthEventListener
            arguments:
                $entityManager: "@doctrine.orm.entity_manager"
            tags:
                - { name: kernel.event_listener, event: fos_oauth_server.pre_authorization_process, method: onPreAuthorizationProcess }
                - { name: kernel.event_listener, event: fos_oauth_server.post_authorization_process, method: onPostAuthorizationProcess }
#
#    kernel.listener.createUser:
#        class: Acme\AppBundle\EventListener\CreateUserEventListener
#        tags:
#            - { name: kernel.event_listener, event: createUser, method: askAffectationAdv }
#    kernel.listener.changePassword:
#        class: Acme\AppBundle\EventListener\ChangeUserEventListener
#        tags:
#            - { name: kernel.event_listener, event: changePassword, method: changePassword }