<p style="margin-top:0">Date de création du compte du membre : {{ member.createdAt | date_fr_full }}</p>

<p>Date du tout premier créneau : {% if member.firstShiftDate %}{{ member.firstShiftDate | date_fr_full }}{% else %}Néant{% endif %}</p>
