{% set firstShiftDate = member.firstShiftDate %}

{% if member.isCurrentlyExemptedFromShifts() %}
    {% include "member/_partial/exempted.html.twig" with { member: member, from_admin: true } %}
{% endif %}

{% if use_fly_and_fixed %}
    <div class="row">
        <h6>Créneau fixe</h6>
        {% if period_positions %}
            {% for period_position in period_positions %}
                <div class="col s12 m6 l4">
                    {% include "user/_partial/period_position_card.html.twig" with { period_position: period_position, show_actions: true } %}
                </div>
            {% endfor %}
        {% else %}
            Pas de créneau fixe
        {% endif %}
    </div>
{% endif %}

{% for cycle, shifts in shifts_by_cycle %}
    <div class="row">
        <h6>
            {% if cycle <= -1 %}
                Cycle précédent
            {% elseif cycle == 0 %}
                Cycle en cours
            {% elseif cycle == 1 %}
                Prochain cycle
            {% endif %}
            (du {{ membership_service.startOfCycle(member,cycle) | date_fr_long }} au {{ membership_service.endOfCycle(member,cycle) | date_fr_long }})
        </h6>
        {% if shifts | length > 0 %}
            {% for shift in shifts %}
                <div class="col s12 m6 l4">
                    {% include "user/_partial/shift_card.html.twig" with { shift: shift } %}
                </div>
            {% endfor %}
        {% else %}
            Pas de créneau
        {% endif %}
    </div>
{% endfor %}

<p>Date du tout premier créneau : {% if firstShiftDate %}{{ firstShiftDate | date_fr_full }}{% else %}Néant{% endif %}</p>
