{% set from_admin = from_admin ?? false %}
{% set time_log_delete_forms = time_log_delete_forms ?? [] %}

{% include "timelog/_partial/recap_table.html.twig" with { member: member } %}

<div style="max-height:500px;overflow:scroll;">
    {% include "timelog/_partial/table.html.twig" with { timeLogs: member.timeLogs, from_admin: from_admin, time_log_delete_forms: time_log_delete_forms } %}
</div>

{% if from_admin and is_granted("ROLE_SHIFT_MANAGER") %}
    <br />
    <a href="#add-time-log" class="modal-trigger waves-effect waves-light btn teal">
        <i class="material-icons left">add</i>Ajouter un log de temps
    </a>
    {{ form_start(time_log_new_form) }}
    <div id="add-time-log" class="modal">
        <div class="modal-content">
            <h5><i class="material-icons left small">access_time</i>Ajouter un log de temps</h5>
            {{ form_widget(time_log_new_form) }}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat orange-text">Annuler</a>
            <button type="submit" class="btn green"><i class="material-icons left">add</i>Ajouter le log de temps</button>
        </div>
    </div>
    {{ form_end(time_log_new_form) }}
{% endif %}
