<header>
  <nav class="main-navigation" role="navigation" [style.background-color]="mainColor">
    <div class="nav-wrapper container">
      <a href="#" class="logo-container brand-logo hide-on-med-and-down">{{ siteName }}</a>
      <a href="#" class="logo-container brand-logo hide-on-large-only">{{ projectName }}</a>
      <ul class="right hide-on-med-and-down">
        <li *ngFor="let service of services">
          <a [href]="service.url"><i class="material-icons small left">{{ service.icon }}</i>{{ service.slug }}</a>
        </li>
        <li>
          <a href="#">
            <i class="material-icons small left">settings</i>
            <small *ngIf="user && user.beneficiary">{{user.beneficiary.firstname}}</small>
            <small *ngIf="user && !user.beneficiary">{{user.username}}</small>
          </a>
        </li>
        <li><a href="#"><i class="material-icons small right">exit_to_app</i>
        </a></li>
      </ul>
    </div>
  </nav>
</header>
<div class="wrapper breadcrumbs blue-grey lighten-5">
  <div class="col s12">
    <a href="#"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">list</i><span>Mises à jour de procédures</span>
  </div>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="page-footer" [style.background-color]="mainColor">
  <div class="footer-copyright">
    <div class="container">
      © {{ today | date:'yyyy' }} Copyright {{ projectName }}
      <a class="grey-text text-lighten-4 right" href="{{ projectUrl }}">{{ projectUrlDisplay }}</a>
    </div>
  </div>
</footer>
