<header>
  <nav class="main-navigation" role="navigation" [style.background-color]="mainColor">
    <div class="nav-wrapper container">
      <a href="#" class="logo-container brand-logo hide-on-med-and-down">{{ siteName }}</a>
      <a href="#" class="logo-container brand-logo hide-on-large-only">{{ projectName }}</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">
            <i class="material-icons small left">settings</i>
            <small>Bastien</small>
          </a>
        </li>
        <li><a href="#"><i class="material-icons small right">exit_to_app</i>
        </a></li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
