{% for service in services %}
    <li>
        <a href="{{ service.url }}" title="{{ service.slug }}">
            <i class="material-icons small left">{{ service.Icon }}</i>
            <span class="show-on-medium-and-down show-on-xl-only">{{ service.slug }}</span>
        </a>
    </li>
{% endfor %}
