{% if (display_names ?? true) %}
    {% set display_names = display_name_shifters %}
{% endif %}

{% for buckets in bucketsByJob %}
    <div class="row" style="display: flex;min-height: 40px;">
        <div class="col s12">
            <div style="position: relative">
                {% set lignes = {} %}
                {% for bucket in buckets %}
                    {#compute lines #}
                    {% set l = 0 %}
                    {% set break = false %}
                    {% for i in 0..100 if not break %}
                        {% if lignes[i~'_'] is not defined %}
                            {% set l = i %}
                            {% set lignes = lignes|merge({(i~'_'): bucket.end}) %}
                            {% set break = true %}
                        {% else %}
                            {% if lignes[i~'_'] < bucket.start %}
                                {% set l = i %}
                                {% set lignes = lignes|merge({(i~'_'): bucket.end}) %}
                                {% set break = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {# / compute lines #}
                    {% if shift_service.isBucketBookable(bucket, beneficiary) or not beneficiary %}
                        {% include "booking/_partial/shift.html.twig" with { beneficiary: beneficiary, user: app.user, bucket: bucket, start: hours|first, end: hours|last, line:l, cycle: current_cycle, display_names: display_names } %}
                    {% else %}
                        {% include "booking/_partial/disabled_shift.html.twig" with { bucket: bucket,start: hours|first, end: hours|last, line:l, display_names: display_names } %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
