{% if (display_names ?? true) %}
    {% set display_names = display_name_shifters %}
{% endif %}
{% if beneficiary is not defined %}
    {% set beneficiary = null %}
{% endif %}
{% set previousWeekIndex = -1 %}
{% set current_cycle = 0 %}

</div> <!-- end div.section -->
</div> <!-- end div.container: we want full-screen display -->
<div id="weeks" style="padding: 5px;">
    {% for bucketsByjob in bucketsByDay %}
        {% set first_shift = bucketsByjob|first|first %}
        {% set weekIndex = ((first_shift.start | date('W') - 1) % 4) %}

        {% if previousWeekIndex != weekIndex %}
            {% if previousWeekIndex != -1 %}</ul>{% endif %}
            {% include "booking/_partial/week_title.html.twig" with { first_shift: first_shift } %}
            {% set previousWeekIndex = weekIndex %}
            <ul class="collapsible collapsible-expandable">
        {% endif %}
        <li data-date="{{ first_shift.start.format("Y-m-d") }}" data-beneficiary="{{ beneficiary.id ?? null }}" data-cycle="{{ current_cycle }}">
            <div class="collapsible-header">
                <i class="material-icons">{% if date('now') > (bucketsByjob|last|last).end %}event_busy{% else %}event_available{% endif %}</i>
                {{ first_shift.start | date_fr_long }}
            </div>
            <div class="collapsible-body" style="padding: 1rem 0">
            </div>
        </li>
        {% if beneficiary and (( membership_service.endOfCycle(beneficiary.membership, current_cycle) | date('Y-m-d') ) == ((first_shift.start) | date('Y-m-d') )) %}
                {% set current_cycle = current_cycle + 1 %}
            </ul>
            <ul class="collapsible" accordion="false">
        {% endif %}
    {% endfor %}
    {% if (bucketsByDay | length) > 7 %}
        <li class="active">
            <div class="collapsible-header">
                <i class="material-icons">event_busy</i> et après ?
            </div>
            <div class="collapsible-body">
                Seuls les 27 prochains jours sont ouverts à la réservation, si tu veux voir plus loin, reviens un peu plus tard :)
            </div>
        </li>
    {% endif %}
    </ul>
</div>

<script type="text/javascript">
    function load_next() {
        // On précharge une semaine de planning
        if ($('#weeks li.active').length >= 7)
            return;

        $('#weeks > ul.collapsible > li:not(.active) > .collapsible-header').first().click();
    }

    function load_on_open() {
        $("#weeks ul li").on("opened", function () {
            let li = this;

            if ($(li).children(".collapsible-body").html().trim() != "") {
                return;  // déjà chargé
            }

            $.ajax({
                url: $(this).data("beneficiary") ?
                    `/booking/day/${$(this).data("date")}/${$(this).data("beneficiary")}/${$(this).data("cycle")}` :
                    `/booking/day/${$(this).data("date")}`,
                success: function(content) {
                    $(li).children(".collapsible-body").html(content);
                    install_events();

                    load_next();
                }
            });
        });
    }

    document.readyState === "loading" ?
        document.addEventListener('DOMContentLoaded', load_on_open) :
        load_on_open();
</script>
