{% extends 'layout.html.twig' %}

{% block title %}Planning - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<i class="material-icons">list</i>&nbsp;Planning
{% endblock %}

{% block content %}
    <h4>Planning</h4>

    {% include "booking/_partial/list.html.twig" with { bucketsByDay: bucketsByDay } %}

    <div id="modal-bucket" class="modal">
        <div id="modal-bucket-content" class="modal-content">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    function ajaxError (jqXHR, exception) {
        var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Perte de connexion à internet. Vérifier votre connexion.';
        } else if (jqXHR.status == 404) {
            msg = 'Oups, le créneau n\'existe plus. Quelqu\'un d\'autre l\'a supprimé entre temps ?';
        } else if (jqXHR.status == 500) {
            msg = 'Erreur interne, il faut mettre les informaticiens sur le coup !';
        } else if (exception === 'parsererror') {
            msg = 'Réponse du serveur incompréhensible (JSON parse failed).';
        } else if (exception === 'timeout') {
            msg = 'Le serveur n\'a pas répondu dans les temps...';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted.';
        } else {
            var data = jqXHR.responseJSON;
            msg = data.message;
        }
        M.toast({ html: msg, displayLength: 5000, classes: 'red' });
    }

    $('#modal-bucket').modal({
        onCloseEnd: function() {
            $('#modal-bucket-content').html('');
        },
        onOpenStart: function(modal, trigger) {
            var url = $(trigger).attr('data-source');
            $.get(url, function( data ) {
                $('#modal-bucket-content').html(data);
                $('#modal-bucket-content .collapsible').collapsible();
                $('#modal-bucket-content select').formSelect({ dropdownOptions: { container: document.body } });
            }).fail(ajaxError);
        }
    });
</script>
{% endblock %}

