.card-content {

  .card-btn-bar {

    position:absolute;
    bottom: -20px;

    .card-btn {
      display: inline-block;
    }

  }
}
.homebox{
  .card.event{
    .btn{
      font-size: 12px;
      padding: 0 0.5rem;
      width: 100%;
      .material-icons{
        float: left;
      }
    }
  }
}
