{% extends 'layout.html.twig' %}

{% block breadcrumps %}
{% endblock %}

{% block content %}
    <h3>Active ton compte</h3>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <input type="hidden" name="username" value="{{ user.username }}" />
        Envoyer le lien de connexion sur {{ user.email }} ?
        <br>
        <button type="submit" name="submit" class="btn waves-effect waves-light light-green">
            <i class="material-icons left">devices</i> Activer mon compte
        </button>
    </form>

{% endblock %}
