{{ form_start(form) }}

<div class="row">
    {{ form_row(form.name) }}
</div>
<div class="row">
    {{ form_row(form.description) }}
</div>

<div>
    <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Enregistrer</button>
</div>

{{ form_end(form) }}
