{% extends 'layout.html.twig' %}

{% block title %}Événements - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<i class="material-icons">event</i>&nbsp;Événements
{% endblock %}

{% block content %}
{% if eventsOngoing | length %}
    <h4>Événements en cours ({{ eventsOngoing | length }})</h4>

    <div class="row">
        {% for event in eventsOngoing %}
            <div class="col m12 l6">
                {% include "admin/event/_partial/card.html.twig" with { event: event } %}
            </div>
        {% endfor %}
    </div>
{% endif %}

<h4>Événements à venir ({{ eventsFuture | length }})</h4>

<div class="row">
    {% for event in eventsFuture %}
        <div class="col m12 l6">
            {% include "admin/event/_partial/card.html.twig" with { event: event } %}
        </div>
    {% endfor %}
</div>

<h4>Événements passés</h4>

{% include "admin/event/_partial/table.html.twig" with { events: eventsPast } %}
{% endblock %}
