<div class="beneficiary row">
    <div class="firstname col s6">
        {{ form_row(form.firstname) }}
    </div>
    <div class="laststname col s6">
        {{ form_row(form.lastname) }}
    </div>
    <div class="email col s6">
        {{ form_row(form.email) }}
    </div>
    <div class="phone col s6">
        {{ form_row(form.phone) }}
    </div>
</div>