<div class="note row">
    <div class="input-field text col s6">
        <div class="errors">
            {{ form_errors(form.text) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.text) }}
            {{ form_label(form.text) }}
        </div>
    </div>
</div>