<div class="address row">
    <div class="input-field city col s6">
        {{ form_row(form.email) }}
    </div>
    <div class="input-field city col s3">
        {{ form_row(form.amount) }}
    </div>
    <div class="input-field city col s3">
        {{ form_widget(form.mode) }}
        {{ form_label(form.mode) }}
    </div>
</div>
