/*
 * Globals
 */
@import "../fonts/blackjack/stylesheet.css";
@import "../fonts/raleway/stylesheet.css";
/*
 * Shifts
 */
.shift {
  width: 80%;
  margin: auto;
  border: solid 1px;
  border-radius: 10px;
}
.shift-block {
  font-size: 11px;
  padding: 2px 3px 0 3px;
  width: 100%;
}
.shifter {
  font-size: 16px;
  width: 10px;
}
.shift-with-role {
  color: #ff1744;
}
.shift-bucket {
  position: absolute;
  padding: 0 1px;
}
.shift-bucket:hover {
  z-index: 999;
}
.admin-shift-warning {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  text-align: right;
  font-size: small;
}
/*
 * Time counter
 */
.time-counter {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.time-counter div {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
  text-align: right;
}
.time-counter div span {
  padding-right: 10px;
}
.card-content .card-btn-bar {
  position: absolute;
  bottom: -20px;
}
.card-content .card-btn-bar .card-btn {
  display: inline-block;
}
.homebox .card.event .btn {
  font-size: 12px;
  padding: 0 0.5rem;
  width: 100%;
}
.homebox .card.event .btn .material-icons {
  float: left;
}
/*
 * Updates
 */
.card.update a {
  color: #4dd0e1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
h3.header,
h4,
h4.header {
  font-family: 'black_jackregular';
  text-transform: none;
  font-weight: normal;
}
html {
  font-family: 'Raleway', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.main-navigation {
  background-color: #51CAE9;
}
.impersonate {
  background: black;
}
.impersonate .brand-logo {
  margin-left: 10px;
}
footer.page-footer {
  background-color: #51CAE9;
}
#logo-container {
  font-family: 'black_jackregular';
}
/* Links */
.card .card-action a.btn {
  color: white;
}
.btn,
.btn-large {
  color: #fff;
  background-color: #51CAE9;
  margin-bottom: 5px;
}
.btn:hover,
.btn-large:hover {
  background-color: #189bbc;
}
.breadcrumbs {
  font-size: 12px;
  padding: 5px;
}
.breadcrumbs .col {
  height: 15px;
}
.breadcrumbs i.material-icons {
  font-size: 15px;
}
.breadcrumbs a,
.breadcrumbs span {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  vertical-align: top;
}
.breadcrumbs a {
  color: gray;
}
.teal.success,
.teal.error,
.teal.warning {
  font-size: 16px;
  font-weight: 600;
}
.teal.success {
  background-color: #8bc34a !important;
}
.teal.error {
  background-color: #F44336 !important;
}
.teal.warning {
  background-color: #ff9800 !important;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}
/*
 * Base structure
 */
.collapsible-body.new_registration_form {
  padding: 10px;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
/* Padding for spacing */
.inner {
  padding: 2rem;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}
.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: bold;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5);
}
/*
 * Affix and center
 */
@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #51CAE9;
  -webkit-box-shadow: 0 1px 0 0 #51CAE9;
  box-shadow: 0 1px 0 0 #51CAE9;
}
.input-field .prefix.active {
  color: #51CAE9;
}
form .errors ul li {
  color: darkred;
}
strong {
  font-weight: bold;
}
.swiftcard_exemple {
  position: relative;
  text-align: center;
}
.swiftcard_exemple img {
  margin-bottom: 5px;
}
.swiftcard_exemple .focus {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 300px;
  margin-left: -170px;
}
#quick_search_nav {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px;
}
.simplemde-container.error .CodeMirror {
  border-color: #F44336;
}
.simplemde-container.error .editor-statusbar .error-message {
  color: #F44336;
  float: left;
  font-weight: bold;
}
.badge_card {
  width: 300px;
  text-align: center;
  padding: 50px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  max-width: 100%;
}
.badge_card img {
  max-width: 90%;
}
.homebox {
  border: 1px solid;
  padding-bottom: 10px !important;
  margin-bottom: 30px;
  margin-top: 10px;
}
.homebox > h5:first-child {
  margin-top: -15px;
}
.homebox > h5:first-child span {
  padding: 0 5px;
}
.homebox .row {
  margin: 0 5px;
}
.card.mini-shift .card-content .card-title {
  font-size: 20px;
}
.process-update-list .last-shift {
  border-top: 1px solid #51CAE9;
  border-bottom: 1px solid #51CAE9;
  background: #d9f3fa;
}
.process-update-list tr.new > td > a {
  font-weight: bold;
}
.btn .bubble_counter {
  display: block;
  position: absolute;
  top: -13px;
  left: -13px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  overflow: hidden;
  border-radius: 13px;
  background: black;
  font-weight: bold;
  z-index: 999;
}
.event .card-image img {
  max-height: 250px;
}
.gauge_container {
  height: 210px;
  overflow: hidden;
}
.show-on-xl-only {
  display: none;
}
@media only screen and (min-width: 1200px) {
  a.show-on-xl-only,
  span.show-on-xl-only,
  i.show-on-xl-only,
  p.show-on-xl-only,
  small.show-on-xl-only {
    display: inline !important;
  }
  div.show-on-xl-only {
    display: block !important;
  }
}
.nav-wrapper ul#nav-desktop li a {
  font-size: 75%;
}
.nav-wrapper ul#nav-desktop li.highlight a {
  background: #00000055;
  position: relative;
}
.nav-wrapper ul#nav-desktop li.highlight a:hover {
  background: #ffffff55;
  color: black;
}
.nav-wrapper ul#nav-desktop li.highlight a:hover::before,
.nav-wrapper ul#nav-desktop li.highlight a:hover:after {
  border-right: 4px solid #00000055;
}
.nav-wrapper ul#nav-desktop li.highlight a:hover i.material-icons {
  color: black;
}
.nav-wrapper ul#nav-desktop li.highlight a::before,
.nav-wrapper ul#nav-desktop li.highlight a:after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  border-right: 4px solid white;
}
.nav-wrapper ul#nav-desktop li.highlight a::before {
  bottom: 0;
  left: 0;
}
.nav-wrapper ul#nav-desktop li.highlight a:after {
  top: 0;
  right: 0;
}
.solo-logo {
  margin: 30px 0 20px 0;
}
.hover-toggle-text-icon a {
  display: block;
  height: 24px;
}
.hover-toggle-text-icon a i {
  display: none;
}
.hover-toggle-text-icon a span {
  display: inline-block;
  line-height: 1;
}
.hover-toggle-text-icon a:hover i {
  display: inline-block;
}
.hover-toggle-text-icon a:hover span {
  display: none;
}
