.postit-container {
  position: relative;
  background: url('/bundles/app/img/post-it.svg');
  background-size: cover;
}
.postit-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.postit {
  padding-left: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.postit .box {
  position: relative;
  width: 100%;
  transform: rotate(1deg);
}
.postit .box:before {
  content: "";
  display: block;
  padding-top: 80%;
  /* initial ratio of 10:8*/
}
.postit .box div.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: 'Coming Soon', cursive;
  font-size: 12px;
  overflow-y: scroll;
}
.postit .box div.content p strong {
  font-weight: bold;
}
.postit .info {
  font-family: "Raleway", sans-serif;
  display: block;
  margin-top: 5px;
  padding: 3px;
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postit > .info {
  transform: rotate(1deg);
}
.postit .settings {
  position: absolute;
  bottom: 0;
  right: 10px;
  opacity: 0.5;
}
.postit .settings:hover {
  opacity: 1;
}
.postit .replies {
  position: absolute;
  bottom: 0;
  right: 30px;
  opacity: 0.5;
}
.postit .replies:hover {
  opacity: 1;
}
