/*
 * Shifts
 */
.shift {
  width: 80%;
  margin: auto;
  border: solid 1px;
  border-radius: 10px;
}

.shift-block {
  font-size: 11px;
  padding: 2px 3px 0 3px;
  width: 100%;
}

.shifter {
  font-size: 16px;
  width: 10px;
}