Bonjour {{ membership.mainBeneficiary.firstname | lower | capitalize }},<br >
<br >
Ton cycle a commencé il y a 14 jours déjà !<br >
Il ne te reste donc que 2 semaines pour effectuer ton bénévolat.
Tu passes faire un tour sur <a href="{{ home_url }}">ton espace membre</a> pour trouver le créneau qui te convient le mieux ?<br >
<br >
Merci<br >
<br >
Céleste, la petite fée des créneaux :)