Bonjour,<br>
Ton inscription à {{ project_name }} enregistré le {{ rdate | date('d F Y') }} à {{ rdate | date('H:i') }} n'a pas été complétée <br>
Tu peux toujours la finaliser en visitant <a href="{{ register_url }}">ce lien</a>.<br>
Merci, à très bientôt