{% if opening_hour_kind_service.hasEnabled %}
    {% if opening_hour_service.isOpen %}
        <span class="badge green white-text" style="font-family:'Raleway',sans-serif;float:unset;">{{ opening_hour_open_closed_header_open_message }}</span>
    {% else %}
        <span class="badge red white-text" style="font-family:'Raleway',sans-serif;float:unset;">{{ opening_hour_open_closed_header_closed_message }}</span>
    {% endif %}
{% endif %}
