<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel teal lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="{{ gravatar(note.author.email) }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <strong class="black-text">
                    {{ note.author.username }} le {{ note.createdAt | date('d M Y à H:i') }}
                </strong><br>
              <blockquote class="black-text">
                  {{ note.text }}
              </blockquote>
            </div>
        </div>
    </div>
</div>