{% extends 'layout.html.twig' %}

{% block title %}Importer des adhérents (CSV) : réponse - {{ site_name }}{% endblock %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}">Admin</a><i class="material-icons">chevron_right</i>
    <i class="material-icons">file_upload</i>Importer des adhérents (CSV) : réponse
{% endblock %}

{% block content %}
    <pre>
        {{ content }}
    </pre>
{% endblock %}
