{% extends 'layout.html.twig' %}

{% block content %}
    <h4>Liste des rôles</h4>

    <table class="striped">
        <thead>
            <tr>
                <th data-col="o.icon">Icône</th>
                <th data-col="b.email">Code</th>
                <th data-col="b.email">Nom</th>
                <th data-col="b.email">Nombre de membres</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>
                    {% if role['icon'] %}
                    <i class="material-icons left">{{ role['icon'] }}</i>
                    {% endif %}
                </td>
                <td>{{ role['code'] }}</td>
                <td>{{ role['name'] }}</td>
                <td>{{ role['user_count'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
